Flask==2.0.3
Flask-WTF==1.0.1
WTForms==3.0.0
Jinja2==3.0.3
MarkupSafe==2.0.1
mysql-connector-python==8.0.30
mysql==0.0.3
mysqlclient==2.1.1
pip==21.3.1
setuptools==59.6.0
Werkzeug==2.0.3
behave==1.2.6
requests==2.27.1
urllib3==1.26.12


