{% extends "base.html" %}

{% block content %}
    <h1>Angebot</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.angebotKundeName.label }}<br>
            {{ form.angebotKundeName(size=32, value=data['kunde'][0]['name']) }}<br>
            {% for error in form.angebotKundeName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.angebotKundeVorname.label }}<br>
            {{ form.angebotKundeVorname(size=32, value=data['kunde'][0]['vorname']) }}<br>
            {% for error in form.angebotKundeVorname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.angebotKundeStrasse.label }}<br>
            {{ form.angebotKundeStrasse(size=32, value=data['kunde'][0]['strasse']) }}<br>
            {% for error in form.angebotKundeStrasse.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.angebotKundePlz.label }}<br>
            {{ form.angebotKundePlz(size=6, value=data['kunde'][0]['plz']) }}<br>
            {% for error in form.angebotKundePlz.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.angebotKundeOrt.label }}<br>
            {{ form.angebotKundeOrt(size=32, value=data['kunde'][0]['ort']) }}<br>
            {% for error in form.angebotKundeOrt.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>



{% endblock %}