{% extends "base.html" %}

{% block content %}

<div class="container features">
    <h1>Test</h1>
    <h3>Kundenübersicht</h3>
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Anrede</th>
            <th>Vorname</th>
            <th>Name</th>
            <th>Straße</th>
            <th>PLZ</th>
            <th>Ort</th>
            <th>zuletzt geändert</th>
        </tr>
    </thead>
    <tbody>
    {% for eintrag in data %}
        <tr>
            <td>{{ eintrag['kunde_id'] }}</td>
            <td>{{ eintrag['anrede'] }}</td>
            <td>{{ eintrag['vorname'] }}</td>
            <td>{{ eintrag['nachname'] }}</td>
            <td>{{ eintrag['strasse'] }}</td>
            <td>{{ eintrag['plz'] }}</td>
            <td>{{ eintrag['ort'] }}</td>
            <td>{{ eintrag['timestamp'] }}</td>
        </tr>
    {% endfor %}

    </tbody>


    </table>
</div>




{% endblock %}