{% extends "base.html" %}

{% block content %}

<div class="container features">
    <p></p>
    <h3>Kundenübersicht</h3>
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Anrede</th>
            <th>Vorname</th>
            <th>Name</th>
            <th>Straße</th>
            <th>PLZ</th>
            <th>Ort</th>
            <th>zuletzt geändert</th>
            <th scope="col" style="width: 10%">Bearbeiten</th>
            <th scope="col" style="width: 10%">Löschen</th>
        </tr>
    </thead>
    <tbody>
    {% for eintrag in data['kunden'] %}
        <tr>
            <td>{{ eintrag['kunde_id'] }}</td>

            <td>{% if eintrag['anrede'] == "1" %}
                Herr
                {%elif eintrag['anrede'] == "2" %}
                Frau
                {%elif eintrag['anrede'] == "3" %}
                Divers
                {% endif %}</td>
            <td>{{ eintrag['vorname'] }}</td>
            <td>{{ eintrag['name'] }}</td>
            <td>{{ eintrag['strasse'] }}</td>
            <td>{{ eintrag['plz'] }}</td>
            <td>{{ eintrag['ort'] }}</td>
            <td>{{ eintrag['timestamp'] }}</td>
            <td><a href="modifyKunde?kunde_id={{ eintrag['kunde_id'] }}">bearbeiten</a></td>
            <td><a href="deleteKunde?kunde_id={{ eintrag['kunde_id'] }}">löschen</a></td>
        </tr>
    {% endfor %}

    </tbody>


    </table>
</div>




{% endblock %}